<div class="top-menu">
    <img class="logo" alt="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="category-list">
  <label for="categories">Choose a category:</label>
  <select id="categories" name="category_selection">
    @for (category of categories$ | async; track category;) {
      <category-card
      [category]="category"
      [index] = $index
  />
    }
  </select>
</div>

<div class="products">
  
  <!-- @for (product of products; track product; -->
  

  @for (product of products$ | async; track product.id;

    let index = $index;
    let last = $last;
    let even = $even;
    ) {

    <product-card
      [product]="product"
      [index]="index"
      [class.is-first] = $first
      [class.is-last] = last
      [class.is-even] = "even"
      [class.is-odd] = $odd/>
  }
  @empty {
    <h1>No products found!</h1>
  }

</div>
<!-- (productSelected)="onProductSelected($event)"-->

